<div class="hero-unit">
	<center>
		<h1>Doe Library</h1>
	</center>
</div>

<ul class="thumbnails">
	
	<li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=001" class="thumbnail">
	      <%= image_tag "112.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=002" class="thumbnail">
	      <%= image_tag "113.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=003" class="thumbnail">
	      <%= image_tag "114.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=004" class="thumbnail">
	      <%= image_tag "115.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=005" class="thumbnail">
	      <%= image_tag "116.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=006" class="thumbnail">
	      <%= image_tag "117.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=007" class="thumbnail">
	      <%= image_tag "118.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=008" class="thumbnail">
	      <%= image_tag "119.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=009" class="thumbnail">
	      <%= image_tag "120.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=010" class="thumbnail">
	      <%= image_tag "121.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=011" class="thumbnail">
	      <%= image_tag "122.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=012" class="thumbnail">
	      <%= image_tag "123.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=013" class="thumbnail">
	      <%= image_tag "124.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=014" class="thumbnail">
	      <%= image_tag "125.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=015" class="thumbnail">
	      <%= image_tag "126.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=016" class="thumbnail">
	      <%= image_tag "127.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=017" class="thumbnail">
	      <%= image_tag "128.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=018" class="thumbnail">
	      <%= image_tag "129.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=019" class="thumbnail">
	      <%= image_tag "130.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=020" class="thumbnail">
	      <%= image_tag "131.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=021" class="thumbnail">
	      <%= image_tag "132.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=022" class="thumbnail">
	      <%= image_tag "133.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=023" class="thumbnail">
	      <%= image_tag "134.jpg" %>
	    </a>
	  </li>
  </li>
  
</ul>

<br /><br />

<center>
	<div class="row-fluid">
		<input type=button class="btn btn-inverse span1" value= "Back" onclick= "history.back()">
		</input>
	</div>
</center>

<br />