<div class="hero-unit">
	<center>
		<h1>Haas Library</h1>
	</center>
</div>

<ul class="thumbnails">
	
	<li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=024" class="thumbnail">
	      <%= image_tag "135.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=025" class="thumbnail">
	      <%= image_tag "136.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=026" class="thumbnail">
	      <%= image_tag "137.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=027" class="thumbnail">
	      <%= image_tag "138.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=028" class="thumbnail">
	      <%= image_tag "139.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=029" class="thumbnail">
	      <%= image_tag "140.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=030" class="thumbnail">
	      <%= image_tag "141.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=031" class="thumbnail">
	      <%= image_tag "142.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=032" class="thumbnail">
	      <%= image_tag "143.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=033" class="thumbnail">
	      <%= image_tag "144.jpg" %>
	    </a>
	  </li>
  </li>
  
</ul>

<br /><br />

<center>
	<div class="row-fluid">
		<input type=button class="btn btn-inverse span1" value= "Back" onclick= "history.back()">
		</input>
	</div>
</center>

<br />