<div class="hero-unit">
	<center>
		<h1>Kresge Library</h1>
	</center>
</div>

<ul class="thumbnails">
	
	<li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=051" class="thumbnail">
	      <%= image_tag "162.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=052" class="thumbnail">
	      <%= image_tag "163.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=053" class="thumbnail">
	      <%= image_tag "164.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=054" class="thumbnail">
	      <%= image_tag "165.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=055" class="thumbnail">
	      <%= image_tag "166.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=056" class="thumbnail">
	      <%= image_tag "167.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=057" class="thumbnail">
	      <%= image_tag "168.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=058" class="thumbnail">
	      <%= image_tag "169.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=059" class="thumbnail">
	      <%= image_tag "170.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=060" class="thumbnail">
	      <%= image_tag "171.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=061" class="thumbnail">
	      <%= image_tag "172.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=062" class="thumbnail">
	      <%= image_tag "173.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=063" class="thumbnail">
	      <%= image_tag "174.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=064" class="thumbnail">
	      <%= image_tag "175.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=065" class="thumbnail">
	      <%= image_tag "176.jpg" %>
	    </a>
	  </li>
  </li>
  
</ul>

<br /><br />

<center>
	<div class="row-fluid">
		<input type=button class="btn btn-inverse span1" value= "Back" onclick= "history.back()">
		</input>
	</div>
</center>

<br />