<div class="hero-unit">
	<center>
		<h1>Moffitt Library</h1>
	</center>
</div>

<ul class="thumbnails">
	
	<li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=066" class="thumbnail">
	      <%= image_tag "177.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=067" class="thumbnail">
	      <%= image_tag "178.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=068" class="thumbnail">
	      <%= image_tag "179.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=069" class="thumbnail">
	      <%= image_tag "180.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=070" class="thumbnail">
	      <%= image_tag "181.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=071" class="thumbnail">
	      <%= image_tag "182.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=072" class="thumbnail">
	      <%= image_tag "183.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=073" class="thumbnail">
	      <%= image_tag "184.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=074" class="thumbnail">
	      <%= image_tag "185.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=075" class="thumbnail">
	      <%= image_tag "186.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=076" class="thumbnail">
	      <%= image_tag "187.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=077" class="thumbnail">
	      <%= image_tag "188.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=078" class="thumbnail">
	      <%= image_tag "189.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=079" class="thumbnail">
	      <%= image_tag "190.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=080" class="thumbnail">
	      <%= image_tag "191.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=081" class="thumbnail">
	      <%= image_tag "192.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=082" class="thumbnail">
	      <%= image_tag "193.jpg" %>
	    </a>
	  </li>
  </li>
  
</ul>

<br /><br />

<center>
	<div class="row-fluid">
		<input type=button class="btn btn-inverse span1" value= "Back" onclick= "history.back()">
		</input>
	</div>
</center>

<br />