<div class="hero-unit">
	<center>
		<h1>VLSB Library</h1>
	</center>
</div>

<ul class="thumbnails">
	
	<li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=083" class="thumbnail">
	      <%= image_tag "194.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=084" class="thumbnail">
	      <%= image_tag "195.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=085" class="thumbnail">
	      <%= image_tag "196.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=086" class="thumbnail">
	      <%= image_tag "197.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=087" class="thumbnail">
	      <%= image_tag "198.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=088" class="thumbnail">
	      <%= image_tag "199.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=089" class="thumbnail">
	      <%= image_tag "200.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=090" class="thumbnail">
	      <%= image_tag "201.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=091" class="thumbnail">
	      <%= image_tag "202.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=092" class="thumbnail">
	      <%= image_tag "203.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=093" class="thumbnail">
	      <%= image_tag "204.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=094" class="thumbnail">
	      <%= image_tag "205.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=095" class="thumbnail">
	      <%= image_tag "206.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=096" class="thumbnail">
	      <%= image_tag "207.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=097" class="thumbnail">
	      <%= image_tag "208.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=098" class="thumbnail">
	      <%= image_tag "209.jpg" %>
	    </a>
	  </li>
  </li>
    
</ul>

<br /><br />

<center>
	<div class="row-fluid">
		<input type=button class="btn btn-inverse span1" value= "Back" onclick= "history.back()">
		</input>
	</div>
</center>

<br />