<div class="hero-unit">
	<center>
		<h1>Wurster Library</h1>
	</center>
</div>

<ul class="thumbnails">
	
	<li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=099" class="thumbnail">
	      <%= image_tag "210.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=100" class="thumbnail">
	      <%= image_tag "211.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=101" class="thumbnail">
	      <%= image_tag "212.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=102" class="thumbnail">
	      <%= image_tag "213.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=103" class="thumbnail">
	      <%= image_tag "214.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=104" class="thumbnail">
	      <%= image_tag "215.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=105" class="thumbnail">
	      <%= image_tag "216.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=106" class="thumbnail">
	      <%= image_tag "217.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=107" class="thumbnail">
	      <%= image_tag "218.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=108" class="thumbnail">
	      <%= image_tag "219.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=109" class="thumbnail">
	      <%= image_tag "220.jpg" %>
	    </a>
	  </li>
	  <li class="span3">
	    <a href="/display/main?id=110" class="thumbnail">
	      <%= image_tag "221.jpg" %>
	    </a>
	  </li>
  </li>
  
  <li class="span12">
	  <li class="span3">
	    <a href="/display/main?id=111" class="thumbnail">
	      <%= image_tag "222.jpg" %>
	    </a>
	  </li>
  </li>
  
</ul>

<br /><br />

<center>
	<div class="row-fluid">
		<input type=button class="btn btn-inverse span1" value= "Back" onclick= "history.back()">
		</input>
	</div>
</center>

<br />